
<div class="container">
<h1><%= "Books in #{@chamber.name}"%></h1>
<% if user_signed_in? %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Add Book", new_book_path %><br><br>
<% end %>
  <ul>
    <% @chamber.books.each do |book| %>
      <li>
        <%= link_to book.title, book_path(book) %>, by <%= book.author %><br><br>
      </li>
    <% end %>
  </ul>
</div>
