<div class="container">
<h1>Chambers</h1>
<% if user_signed_in? %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Add Chamber", new_chamber_path %><br><br>
<% end %>

  <ul>
    <% @chambers.each do |chamber| %>
      <li>
        <%= link_to chamber.name, chamber_path(chamber) %><br><br>
      </li>
    <% end %>
  </ul>
</div>
