<div class="container">
  <h2 class="columnlabels">My Chambers</h2>
  <ul class="list-group columnlabels" id="mycham">
    <% current_user.chambers.each do |ch| %>
      <li class="list-group-item container">
        <%= link_to ch.name, chamber_path(ch) %>
          <% if current_user.access_types.find_by(chamber_id: ch.id).curates %>
            <span class="badge">Curator</span>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>

