<h3><font color=red>Your user account is now updated!</font></h3>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Chambers</h1>
    <p>Find or Create eBook Libraries</p>
    <p class="btn  btn-lg">
      <%= link_to "Start Exploring Chambers", chambers_path %>
    </p>
  </div>
</div>
