<div class="container">
  <nav class="navbar">
    <div class="navbar-header">
      <h3>Edit Book</h3>
    </div>
    <ul class="nav nav-pills navbar-right">
        <li role="presentation"><%= link_to "Back", book_path %></li>
    </ul>
  </nav>
  <br><br>
  <%= render 'form' %>
</div>
