<div class="container">
  <nav class="navbar">
    <div class="navbar-header">
      <h3>Add an eBook</h3>
    </div>
    <ul class="nav nav-pills navbar-right">
        <li role="presentation"><%= link_to "Back", books_path %></li>
    </ul>
  </nav>

  <%= render 'form' %>
</div>
